* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.main-slider {
  position: relative;
  flex-direction: row-reverse;
  gap: 50px;
  width: 85%;
}

.main-slider,
.info,
.card,
.column1_inner,
.info_inner {
  display: flex !important;
}

.card {
  background-color: #fff;
  border-radius: 6px;
}

.info {
  width: 400px;
  padding: 40px;
  flex-wrap: wrap;
  column-gap: 30px;
}

.column1_inner {
  gap: 10px;
}

.info_inner {
  margin: 0 auto;
}

.main-img {
  height: 405px;
  width: 711px;
  border-radius: 6px;
}

.txt {
  color: #595959;
}

.txt2 {
  font-weight: 700;
}

.slick-arrow {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 0;
  width: min-content;
  height: min-content;
  height: 28px;
  width: 15px;
  background-size: cover;
  top: 50%;
}

.slick-prev {
  left: -30px;
  z-index: 1;
  background-image: url(svg/left.svg);
}
.slick-next {
  right: -30px;
  background-image: url(svg/right.svg);
}

.dots li {
  list-style: none;
}

.dots li button {
  font-size: 0;
  background-position: center;
  background-size: cover;
  height: 58px;
  width: 82px;
  border: 2px solid #c4c4c4;
  border-radius: 2px;
  margin-bottom: 10px;
}

.dots .slick-active button {
  border: 2px solid #595959;
}

.dots li:nth-child(1) button {
  background-image: url(images/01.png);
}
.dots li:nth-child(2) button {
  background-image: url(images/02.jpg);
}
.dots li:nth-child(3) button {
  background-image: url(images/03.webp);
}
.dots li:nth-child(4) button {
  background-image: url(images/04.webp);
}
.dots li:nth-child(5) button {
  background-image: url(images/05.jpg);
}
